In [44]:
import pandas as pd
import os
import math
import shutil

In [54]:
train_dir = 'data/train'
train_csv = 'data/train.csv'
valid_dir = 'data/valid'
valid_csv = 'data/valid.csv'

In [5]:
train_labels = pd.read_csv(train_csv)

In [6]:
train_labels

        image_id                        breed
0     a8b3ad1dde        nerodia-erythrogaster
1     8b492b973d        pantherophis-vulpinus
2     929b99ea92          thamnophis-sirtalis
3     bbac7385e2       pantherophis-obsoletus
4     ef776b1488       agkistrodon-contortrix
...          ...                          ...
5503  5f0c970adf      lampropeltis-triangulum
5504  f6a4287fac  pantherophis-alleghaniensis
5505  d3c10e63e1          thamnophis-sirtalis
5506  61ef50879c          pituophis-catenifer
5507  4791d8bf9a      lampropeltis-triangulum

[5508 rows x 2 columns]

In [9]:
data_size = len(train_labels)
data_size

5508

In [14]:
valid_size = math.floor(0.20 * data_size)     # Size of validation data
valid_size

1101

In [18]:
valid_labels = train_labels[:valid_size]
valid_labels

        image_id                   breed
0     a8b3ad1dde   nerodia-erythrogaster
1     8b492b973d   pantherophis-vulpinus
2     929b99ea92     thamnophis-sirtalis
3     bbac7385e2  pantherophis-obsoletus
4     ef776b1488  agkistrodon-contortrix
...          ...                     ...
1096  741d5c5319          crotalus-atrox
1097  a043a7d25b       nerodia-rhombifer
1098  d098b51b1e        haldea-striatula
1099  643ba81a76         nerodia-sipedon
1100  497b3b4a5d       crotalus-horridus

[1101 rows x 2 columns]

In [19]:
train_labels = train_labels.iloc[valid_size:]    # Take out valid_size data from the main labels

In [20]:
train_labels

        image_id                        breed
1101  fd1107034e       agkistrodon-piscivorus
1102  e87bcc251f          thamnophis-sirtalis
1103  df5d50f701       agkistrodon-contortrix
1104  4ad9080004        nerodia-erythrogaster
1105  8c391be87f              nerodia-sipedon
...          ...                          ...
5503  5f0c970adf      lampropeltis-triangulum
5504  f6a4287fac  pantherophis-alleghaniensis
5505  d3c10e63e1          thamnophis-sirtalis
5506  61ef50879c          pituophis-catenifer
5507  4791d8bf9a      lampropeltis-triangulum

[4407 rows x 2 columns]

In [52]:
img_ids = valid_labels['image_id']
breeds = valid_labels['breed']

We'll now iterate over each image-id and copy them from train folder to valid folder

In [53]:
for img_name in img_ids:
    try:
        source = os.path.join(train_dir, img_name + '.jpg')
        dest = os.path.join(valid_dir, img_name + '.jpg')
        #print(image_path)
        shutil.move(source, dest)  
    except Exception as e:
        print(e)

In [56]:
valid_labels.to_csv(valid_csv,index=False)

In [58]:
os.listdir('data')

['.ipynb_checkpoints',
 'test',
 'test.csv',
 'train',
 'train.csv',
 'valid',
 'valid.csv']

In [60]:
train_labels.to_csv(train_csv, index=False)