In [1]:
import pandas as pd
import os
import math
import shutil

In [2]:
train_dir = 'data/train'
train_csv = 'data/train.csv'
valid_dir = 'data/valid'
valid_csv = 'data/valid.csv'

In [3]:
train_labels = pd.read_csv(train_csv)

In [4]:
train_labels

        image_id                        breed
0     a8b3ad1dde        nerodia-erythrogaster
1     8b492b973d        pantherophis-vulpinus
2     929b99ea92          thamnophis-sirtalis
3     bbac7385e2       pantherophis-obsoletus
4     ef776b1488       agkistrodon-contortrix
...          ...                          ...
5503  5f0c970adf      lampropeltis-triangulum
5504  f6a4287fac  pantherophis-alleghaniensis
5505  d3c10e63e1          thamnophis-sirtalis
5506  61ef50879c          pituophis-catenifer
5507  4791d8bf9a      lampropeltis-triangulum

[5508 rows x 2 columns]

In [5]:
data_size = len(train_labels)
data_size

5508

In [6]:
valid_size = math.floor(0.10 * data_size)     # Size of validation data
valid_size

550

In [7]:
valid_labels = train_labels[:valid_size]
valid_labels

       image_id                        breed
0    a8b3ad1dde        nerodia-erythrogaster
1    8b492b973d        pantherophis-vulpinus
2    929b99ea92          thamnophis-sirtalis
3    bbac7385e2       pantherophis-obsoletus
4    ef776b1488       agkistrodon-contortrix
..          ...                          ...
545  b7501f81bd          thamnophis-sirtalis
546  df4f376491      lampropeltis-triangulum
547  6ed03bcdee  pantherophis-alleghaniensis
548  dee78d8fc8       pantherophis-obsoletus
549  e18f3baddc          pituophis-catenifer

[550 rows x 2 columns]

In [8]:
train_labels = train_labels.iloc[valid_size:]    # Take out valid_size data from the main labels

In [9]:
train_labels

        image_id                        breed
550   597e09c5d0       agkistrodon-contortrix
551   a14a5ace05          pituophis-catenifer
552   5a35436f64          thamnophis-proximus
553   a27f63a15e       pantherophis-obsoletus
554   646dbb9907         thamnophis-marcianus
...          ...                          ...
5503  5f0c970adf      lampropeltis-triangulum
5504  f6a4287fac  pantherophis-alleghaniensis
5505  d3c10e63e1          thamnophis-sirtalis
5506  61ef50879c          pituophis-catenifer
5507  4791d8bf9a      lampropeltis-triangulum

[4958 rows x 2 columns]

In [10]:
img_ids = valid_labels['image_id']
breeds = valid_labels['breed']

We'll now iterate over each image-id and copy them from train folder to valid folder

In [11]:
for img_name in img_ids:
    try:
        source = os.path.join(train_dir, img_name + '.jpg')
        dest = os.path.join(valid_dir, img_name + '.jpg')
        #print(image_path)
        shutil.move(source, dest)  
    except Exception as e:
        print(e)

In [12]:
valid_labels.to_csv(valid_csv,index=False)

In [13]:
os.listdir('data')

['.ipynb_checkpoints',
 'test',
 'test.csv',
 'train',
 'train.csv',
 'valid',
 'valid.csv']

In [14]:
train_labels.to_csv(train_csv, index=False)